.content-item{
    display: flex;
    flex-direction: column;
    font-family: $header-font;
    width: 100%;
}

.content-item-header{
    text-align: left;
    font-weight: 400;
    padding-bottom: 15px;
}

#about-me-section > * {
   padding-bottom: 12px;
}
  
#about-me-section > *:last-child {
    padding-bottom: 35px;
}

.content-item-body{
    text-align: left;
    font-size: 17px;
    color: $unchosen-white;
}

.bold-section{
    color: white;
    font-weight: 450;
}

#skills-header {
    margin-top: 5px !important;
    color: rgb(236, 236, 236);
    font-size: 25px;
    font-weight: 450;
}

#skills-section {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

    svg {
        font-size: 30px;
        margin: 10px;
    }
}