#faq-container {
}

.faq-pair {
    margin-bottom: 20px;
}

.question-header {
    color: $project-header;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 10px;
}

.answer-header{
    color: rgb(164, 163, 163);
    font-weight: 300px;
    padding-left: 10%;
}