header {
    border: 2px solid lime;
}

#fullname-title {
    @include add-font($header-font, 40px, 300);
}

#job-title {
    @include add-font($header-font, 20px, 300);
    color: rgb(183, 183, 183);
}

nav {
    color: $unchosen-nav-link;
    line-height: 45px;
    h3{
        @include add-font($header-font, 30px, 300);
        transition: 0.175s ease-out;
    }

    h3:hover{
        color: white;
        font-weight: 400;
    }
}

#index-one{
    letter-spacing: 3px;
}

#links-section {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-right: 20px;
    border: 0.1rem solid white;
    padding: 22px;
    border-radius: 1000px;
    color: white;
    text-wrap: nowrap;
    a {
        color: white;
    }
}

.icon {
    margin: 0px 20px;
    font-size: 20px;
}

@media (max-width: 970px){
    #links-section{
        max-width: 500px;
    }
}