.fullname-title {
    @include add-font($header-font, 40px, 300);
}

#shortname{
    display: none;
}

#job-title {
    @include add-font($header-font, 20px, 300);
    color: rgb(183, 183, 183);
}

nav {
    line-height: 45px;
    h3{
        @include add-font($header-font, 30px, 300);
        transition: 0.175s ease-out;
    }

    a {
        color: $unchosen-white;
        position: relative;
        display: inline-block;
        transition: 0.175s ease-out;
    }

    a:hover{
        color: white;
        cursor: pointer;
        font-weight: 400;
        transform: translate(5px, -2px);
    }
}

#index-one{
    letter-spacing: 3px;
}

#links-section {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin-right: 20px;
    transition: border 0.175s ease;
    padding: 20px 15px 20px 0px;
    text-wrap: nowrap;

    a {
        color: $unchosen-white;
        transition: color 0.175s;
    }

    svg {
        transition: 0.15s ease-out;
    }

    a:hover {
        color: white;

        svg {
            transform: scale(1.2);

        }
    }
}

.icon {
    margin: 0px 20px;
    font-size: 20px;
    transition: visibility .07s ease;
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}

@media (max-width: 970px){
    #links-section{
        max-width: 355px;
        padding: 20px 10px;
    }
}

@media(max-width: 450px){
    #links-section {
        width: 100%;
        a{
            svg{
                margin: auto 0;
            }
        }
    }

    #longname {
        display: none;
    }

    #shortname {
        display: inline;
    }
}