.fullname-title {
    @include add-font($header-font, 40px, 300);
}

#shortname{
    display: none;
}

#job-title {
    @include add-font($header-font, 20px, 300);
    color: rgb(183, 183, 183);
}

nav {
    color: $unchosen-white;
    line-height: 45px;
    h3{
        @include add-font($header-font, 30px, 300);
        transition: 0.175s ease-out;
    }

    h3:hover{
        color: white;
        cursor: pointer;
        font-weight: 400;
    }
}

#index-one{
    letter-spacing: 3px;
}

#links-section {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-right: 20px;
    border: 0.15rem solid $unchosen-white;
    transition: border 0.175s ease;
    padding: 22px;
    border-radius: 1000px;
    text-wrap: nowrap;

    &:hover{
        border: 0.15rem solid white;
    }

    a {
        color: $unchosen-white;
        transition: color 0.175s;
    }

    a:hover {
        color: white;
    }
}

.icon {
    margin: 0px 20px;
    font-size: 20px;
    transition: visibility .07s ease;
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}



@media (max-width: 970px){
    #links-section{
        margin: auto;
        max-width: 500px;
    }
}

@media (max-width: 510px) {
    #longname{
        display: none;
    }

    #shortname{
        display: block;
    }
}


@media(max-width: 450px){
    #links-section {
        width: 100%;
        a{
            svg{
                margin: auto 0;
            }
        }
    }
}