#layout-container {
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: space-between;
}

header, main {
    width: 48%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 60px 0px 60px 40px;
    justify-content: space-between;
    min-height: 200px;
    position: sticky;
    top: 0;
    height: 100vh;
}

main {
    padding: 60px 40px 60px 0px;
    border: 2px solid violet;
    min-height: 100vh;
    div {
        text-align: center;
        align-content: center;
        width: 100%;
        min-height: 800px;
        border: 2px solid red;
    }
}

@media(max-width: 970px){
    #layout-container {
        flex-direction: column;
    }

    header, main {
        width: 100%;
        padding: 40px 10% 30px 10%;
    }

    header {
        position: static;
        height: 300px;
        min-height: 300px;
    }

    main {
        padding-top: 0;
    }

    nav{
        display: none;
    }

    #links-section{
        margin-left: 0 !important;
    }
}

