#layout-container {
    display: flex;
    width: 90%;
    margin: 0px auto;
    justify-content: space-between;
}

header, main {
    position: relative;
    width: 49%;
    display: flex;
    flex-direction: column;
}

@keyframes spawn-from-left {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

@keyframes spawn-from-right {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}

header {
    animation: spawn-from-left 1s ease-out;
    padding: 60px 0px 30px 40px;
    justify-content: space-between;
    min-height: 200px;
    position: sticky;
    top: 0;
    height: 100vh;
}

main {
    animation: spawn-from-right 1s ease-out;
    padding: 60px 40px 60px 0px;
    min-height: 100vh;
    z-index: 100;
}

#copyright-section {
    margin-top: 15px;
    font-family: $catalogue-font;
    font-weight: 500;
    text-align: center;
    color: rgb(164, 163, 163, 0.7);
}

@media(max-height: 450px){
    nav {
        display: none;
    }
}

@media(max-width: 970px){
    #layout-container {
        flex-direction: column;
        width: 100%;
    }

    header, main {
        width: 100%;
        padding: 40px 10% 10px 10%;
    }

    header {
        position: static;
        height: 200px;
    }

    main {
        padding-top: 0;
    }

    nav{
        display: none;
    }

    #copyright-section {
        margin-bottom: 35px;
    }
}

