#project-item-container .project-item:not(:last-child) {
    margin-bottom: 20px;
}

#project-content-header {
    display: inline-block;
}

#project-icon-container{
    display: flex;
    pointer-events: auto;
    #project-header {
        display: inline-block;
        width: min-content;
    }
    svg {
        height: 26px;
        padding-top: 3px;
        margin-left: 10px;
        transition: 0.1s ease-out;
    }
}

.project-header-container {
    display: flex;
    flex-direction: row;
}

.project-item *:not(:first-child) {
    margin-bottom: 10px;
}

.project-header{
    color: rgb(236, 236, 236);
    font-size: 25px;
    font-weight: 450;
}

.project-skills{
    color: #CCCCCC;
}

.project-summary{
    color: #A9A9A9;
}

#view-all-projects {
    margin: auto;
    margin-bottom: 35px;
    padding: 10px 15px;
    font-family: $header-font;
    background-color: transparent;
    border-radius: 10000px;
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}

@media (hover:hover) and (pointer: fine) {
    #view-all-projects:hover {
        background-color: rgba(0, 0, 0, 0.151);
        border: 1px solid rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 9px 9px rgba(0, 0, 0, 0.128);
        cursor: pointer;
    }

    #project-icon-container:hover {
        .project-header {
            color: white;
        }
        svg {
            transform: translateX(12px);
        }
    }
}

.project-preview-img {
    display: block;
    margin: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 30px !important;
    border-radius: 5px;
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}

#coc-preview {
    margin-top: 20px;
}