#project-item-container{
    padding-bottom: 25px;
}

#project-item-container .project-item:not(:last-child) {
    margin-bottom: 20px;
}

#project-content-header {
    display: inline-block;
}

#project-icon-container{
    display: flex;
    pointer-events: auto;
    #project-header {
        display: inline-block;
        width: min-content;
    }
    svg {
        height: 26px;
        padding-top: 3px;
        margin-left: 10px;
        transition: 0.1s ease-out;
    }
}

#project-icon-container:hover {
    .project-header {
        color: white;
    }
    svg {
        transform: translateX(12px);
    }
}

.project-header-container {
    display: flex;
    flex-direction: row;
}

.project-item *:not(:first-child) {
    padding-bottom: 10px;
}

.project-header{
    color: rgb(236, 236, 236);
    font-size: 25px;
    font-weight: 450;
}

.project-skills{
    color: #CCCCCC;
}

.project-summary{
    color: #A9A9A9;
}