.gradient-bubble {
  z-index: -100;
  --size: #{$gradient-bubble-diameter};
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  filter: blur(calc(var(--size) / 2));
  background-image: linear-gradient($inner-bubble, $outer-bubble);
}

@media (hover: none) {
  .hide-on-touch {
    display: none;
  }
}