#project-overlay {
    font-family: inherit;
    position: fixed;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    padding: 10px 15px 20px 15px;
    z-index: 1000;
    transition: transform 0.57s ease-in-out, opacity 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* From https://css.glass */
    background: rgba(207, 206, 206, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.hide-overlay {
    transform: translateY(-120%);
    opacity: 0;
}

.slide {
    transform: translateY(0);
    opacity: 1;
}

#close-overlay-button {
    margin-left: auto;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0px solid white;
    color: white;
    transition: 0.15s;

    .icon {
        margin: auto !important;
        height: 25px;
        width: 25px;
    }
}

#close-overlay-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid white;
}

td:nth-child(2) {
    padding-right: 30px;
}

th, td {
    text-align: start;
    font-family: $header-font;
    vertical-align: middle;
    height: 40px;
}

table tr:not(:last-child) {
    border-bottom: 1px solid #ffffff4b;
}

@media(max-width: 900px){
    .hide-overlay-col {
        display: none;
    }
}






