// Color Variables
$main-bg: #14212a;
$header-color: white;
$unchosen-white: rgba(226, 226, 226, 0.871);
$project-header: rgb(220, 219, 219, 1);
$unchosen-nav: rgba(226, 226, 226, 0.592);

$inner-bubble: hsl(180, 40%, 40%);
$outer-bubble: hsl(120, 50%, 40%);

// Size Variables
$gradient-bubble-diameter: 400px;




