// Color Variables
$main-bg: #0d1623;
$header-color: white;
$unchosen-white: rgba(226, 226, 226, 0.871);

// Toggle Border Color Variables
$header-border: rgba(100,200,300, 0.9);
$main-border: rgba(300,200,300, 0.9);
$content-border: rgba(0,100,300, 0.9);

// Size Variables
$gradient-bubble-diameter: 400px;
