.App{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient-bubble {
    // Z-Index should be always kept aware of just incase
    // any visual complications arise
    z-index: 1;
    --size: 700px;
    --speed: 4s;
    --easing: ease;
    width: var(--size);
    height: var(--size);
    //filter: blur(calc(var(--size) / 2));
    background-image: linear-gradient(hsl(276, 41%, 36%), hsl(3, 88%, 75%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 50%;
  }
  
  // Make responsive adjustments later on (OPTIONAL)
//   @media (max-width: 720px) {
//     .gradient-bubble {
//       --size: 30vh;
//     }
//   }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #071c39;
    inset: 0;
    overflow: hidden;
    background-image: url('https://www.transparenttextures.com/patterns/scratch.png'), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-blend-mode: overlay;
  }
