@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);

$header-font: ("Oswald", sans-serif);
$body-font: ("proxima-nova", "HelveticaNeue", "Helvetica", "Arial", sans-serif);
$job-title-font: ("DotGothic16");
$catalogue-font: ("Inconsolata", monospace);