@import url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);

// Color Variables
$main-bg: #FF6A34;

$testing-colors: (
    #FF6A34,
    #34FF56,
    #34AEFF,
    #9334FF,
);

// Font Variables
$header-font: ("Oswald", "Impact", sans-serif);
$body-font: ("proxima-nova", "HelveticaNeue", "Helvetica", "Arial", sans-serif);
$job-title-font: ("DotGothic16");

html{
    height: 100%;
}

body{
    background-color: nth($testing-colors, 1);
    font-family: $header-font;
    font-size: 30px;
    color: white;
    height: 100%;
    margin: 0px 8px 0px 8px;
}

#root{
    height: 100%;
}

#app-container{
    display: flex;
    height: 100%;
    width: 100%;
}

#body-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#info-container{
    display: flex;
    width: 100%;
    height: 100%;
}

#info-section-container{
    flex: 4;
}

#side-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

#copyright-container{
    align-self: end;
}

#name-header-container{
    display: inline;
}

#job-header-container{
    font-family: "DotGothic16";
    h1{
        text-align: right;
        text-wrap: nowrap;
        font-size: 40px;
        line-height: 25px;
    }
}

.vertical-text {
    background-color: nth($testing-colors, 1);
    width: 32px;
    span{
        display: inline-block;
    }
}

#firstname{
    text-align: center;
    line-height: 52px;
}

#lastname{
    line-height: 47px;

    span:nth-child(3){
        position: relative;
        top: -0.35rem;
        transform: scaleY(.8);
    }

    span:nth-child(4){
        position: relative;
        top: -0.34rem;
    }
}