*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

html{
    color: $header-color;
    // have back up fonts
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: $main-bg;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: overlay;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
} 

a {
    text-decoration: none;
}
